<form novalidate (ngSubmit)="onSubmit(userFrm)" [formGroup]="userFrm">
    <div>
        <h1 mat-dialog-title><span><mat-icon>create</mat-icon>{{modalTitle}}</span></h1>
    </div>
    <div style="padding-bottom:1px;background-color:#d8d8d8"></div>
    <div mat-dialog-content class="mat-dialog-container">
        <div class="frm-ctrl">
            <mat-input-container>
                <input mdInput placeholder="First Name" formControlName="FirstName">
            </mat-input-container>
            <div *ngIf="formErrors.FirstName" class="text-danger">
                {{ formErrors.FirstName }}
            </div>
        </div>
        <div class="frm-ctrl">
            <mat-input-container>
                <input mdInput placeholder="Last Name" formControlName="LastName">
            </mat-input-container>
            <div *ngIf="formErrors.LastName" class="text-danger">
                {{ formErrors.LastName }}
            </div>
        </div>
        <div class="frm-ctrl">
            <mat-input-container>
                <input type="email" mdInput placeholder="Email" formControlName="Email">
            </mat-input-container>
            <div *ngIf="formErrors.Email" class="text-danger">
                {{ formErrors.Email }}
            </div>
        </div>
        <div class="frm-ctrl">
            <mat-radio-group formControlName="Gender">
                <mat-radio-button *ngFor="let gndr of gender" [value]="gndr">
                    {{gndr}}
                </mat-radio-button>
            </mat-radio-group>
            <div *ngIf="formErrors.Gender" class="text-danger">
                {{ formErrors.Gender }}
            </div>
        </div>
        <div class="frm-ctrl">
            <mat-input-container style="width:50%">
                <input mdInput [mdDatepicker]="picker" placeholder="Date of Birth" formControlName="DOB">
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </mat-input-container>
            <mat-datepicker #picker></mat-datepicker>
            <div *ngIf="formErrors.DOB" class="text-danger">
                {{ formErrors.DOB }}
            </div>
        </div>
        <div class="frm-ctrl">
            <div class="line_ctrl">
                <mat-input-container class="example-full-width">
                    <input mdInput placeholder="City" formControlName="City">
                </mat-input-container>
                <div *ngIf="formErrors.City" class="text-danger">
                    {{ formErrors.City }}
                </div>
            </div>
            <div class="line_ctrl">
                <mat-input-container>
                    <input mdInput placeholder="State" [mdAutocomplete]="auto" formControlName="State">
                </mat-input-container>
                <mat-autocomplete #auto="mdAutocomplete">
                    <mat-option *ngFor="let state of filteredStates | async" [value]="state">
                        {{ state }}
                    </mat-option>
                </mat-autocomplete>
                <div *ngIf="formErrors.State" class="text-danger">
                    {{ formErrors.State }}
                </div>
            </div>
            <div class="line_ctrl">
                <mat-input-container class="example-full-width">
                    <input mdInput #postalCode maxlength="5" placeholder="Zip" formControlName="Zip">
                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                </mat-input-container>
                <div *ngIf="formErrors.Zip" class="text-danger">
                    {{ formErrors.Zip }}
                </div>
            </div>
        </div>
        <div class="frm-ctrl">
            <mat-select placeholder="Country" style="width:50%" formControlName="Country">
                <mat-option *ngFor="let ctry of country" [value]="ctry.value">
                    {{ ctry.viewValue }}
                </mat-option>
            </mat-select>
            <div *ngIf="formErrors.Country" class="text-danger">
                {{ formErrors.Country }}
            </div>
        </div>
    </div>
    <mat-dialog-actions class="mat-dialog-footer" align="end">
        <button color="warn" type="button" mat-raised-button (click)="dialogRef.close()">Cancel</button>&nbsp;
        <button type="submit" color="primary" [disabled]="userFrm.invalid" mat-raised-button>{{modalBtnTitle}}</button>
        </ mat-dialog-actions>
</form>